@charset"utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); /* SpoqaHanSansNeo */
@import url(font.css);

/* CSS Document */
* {-webkit-text-size-adjust:none;margin:0; padding:0;}
html, body {max-width: 100%;overflow-x: hidden;}
body{width:100%; height:auto; font-family:"Spoqa Han Sans Neo", Arial, sans-serif; font-size:16px; line-height:19.2px; color:#000;margin:0 auto; overflow:hidden;
	font-weight:normal;
	word-break:keep-all;
	-webkit-word-break:keep-all;
	-moz-word-break:keep-all;
	-o-word-break:keep-all;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;font-weight:normal}
body,input,textarea,select,table,button{ }
img, fieldset, iframe{border:0 none}
ul li, ol li{text-align:left;list-style:none}
a{text-decoration:none;cursor:pointer;color:#000}
a:focus {border:0}
a:link { text-decoration:none}
li a:visited { text-decoration:none}
em,address{font-style:normal;max-height: 1000000px}
table{/*border-collapse:collapse;*/border-spacing:0}
hr{display:none}
input{vertical-align:top;border-radius:0}
input::placeholder{color: #ccc}
select,button{vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0;border:0;background-color:transparent;color:#000}
legend{*width:0;display:none}
article,aside,canvas,details,figcaption,figure,footer,hgroup,menu,nav,section,summary{display:block}
caption{display:none}
mark {background:#fff}








