@import url(./reset.css);
@import url(./bottomsheet.css);

/* /// lightMode /// */
:root {
    --sys-color-background-variant:#EFF1F4;
    --sys-color-surface:#ffffff;
    --sys-on-surface:#111111;
    --sys-color-on-surface-variant:#606C80;
    --sys-color-ess-main:#00867E;
    --sys-color-outline:#CAD0DD;
    --ref-button-ess-btn:#006A63;
    --ref-multi-color-teal-green-teal-green97:#E5FBF8;
    --ref-color-neutral99:#F7F8FA;
    --sys-color-main-variant3:#23778E
}

/* /// logo /// */
.wrap {
    padding-bottom: 90px;
}
.wrap h1.logo {
    text-align: center;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    padding: 19px 0 0 0;
    box-sizing: border-box;
}

.wrap h1.logo img {
    display: block;
    margin: 0 auto;
}


/* /// Main Visual /// */
.mainVisual {
    padding: 0 20px 40px 20px;
    background-color:#fff;
    position: relative;
}
.mainVisual:before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(142.29deg, #86F3BC 21.8%, #8CDDE3 73.22%);
    opacity: 0.2;
    transform: rotate(-180deg);
}

.mainVisual img {
    display: block;
    margin:0 auto;
    position: relative;
    z-index: 999;
}

.mainVisual .visualImg {
    max-width: 375px;
    margin:0 auto 16px;
    position:relative;   
}

.mainVisual .visualImg img {
    display: block;
    width: 100%;
}
/* w335 */
.mainVisual .visualImg #airMotion {
    position: absolute;
    top: 26.86%;
    left: 50.79%;
    width: 53.47%;
    max-width: 200px;
    z-index: 999;
}

.mainVisual .visualImg2 {
    max-width: 335px;
    margin:0 auto;
}
.mainVisual .visualImg2 img:first-child {
    width: 79px;
}

.mainVisual .visualImg2 img:last-child {
    width: 100%;
    max-width: 335px;
    margin:16px auto;
}

.mainVisual .visual_info {
    width: 100%;
    max-width: 335px;
    margin:0 auto;
}

.mainVisual .visual_info div {
    margin-bottom: 16px;
}

.mainVisual .visual_info div img {
    width: 100%;
    max-width: 335px;
}

.mainVisual .visual_info div.lastList {
    margin-bottom: 10px;
}

.mainVisual .visual_info p {
    font-size: 13px;
    color: var(--sys-color-on-surface-variant);
    text-align: center;
    position: relative;
}

/* /// contents /// */
.contents {
    padding: 0 20px;
    text-align: center;
}

.contents .info {
    padding: 30px 0 32px;
    color: var(--sys-color-on-surface-variant);
}

.contents .card {
    background-color:var(--sys-color-surface);
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
}

.contents .cardList01{
    padding-top: 50px;
    margin-bottom: 20px;
}

.contents .cardList01 .energySenseImg {
    position:absolute;
    top:-18px;
    left:50%;
    margin-left:-75px;
}

.contents .card h2,
.qnaList h2 {
    width: 175px;
    color:var(--sys-color-ess-main);
    font-size: 17px;
    line-height:34px;
    border-radius: 25px;
    border:1.5px solid var(--sys-color-ess-main);
    margin:0 auto 25px;
    font-weight: 500;
}

.contents .card .steplist b {
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
    font-weight: 900;
}
.contents .card .stepText {
    width: 100%;
    max-width: 278px;
    margin:0 auto;
    font-size: 17px;
    font-weight: 500;
}
.contents .card p mark {
    color: var(--sys-color-ess-main);
}
.contents .card .step-info {
    display: block;
    color: var(--sys-color-on-surface-variant);
    font-size: 14px;
    margin: 8px auto 10px;
    width: 100%;
    max-width: 278px;
}

.thinQ-youtube p {
    font-size: 14px;
    margin-top: 8px;
    color: var(--sys-color-on-surface-variant);
}

.contents .card .steplist {
    margin-bottom: 30px;
}

.contents .card .steplist .agreeAlertImg {
    padding: 8px 20px 0;
    background: rgba(178, 230,224, .2)
}

.contents .card .steplist .agreeAlertImg img {
    width: 100%;
    max-width: 246px;
}

.contents .card .steplist.step03{
    margin-bottom: 0;
}
.contents .card .steplist.step03 ul {
    border-top:0.5px solid var(--sys-color-outline);
    padding: 12px 0 0 20px;
    font-size: 14px;
}
.contents .card .steplist.step03 ul li {
    width: 100%;
    max-width: 278px;
    margin:0 auto;
    text-align: left;
    position: relative
}
.contents .card .steplist.step03 ul li:before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 50%;
    background-color:var(--sys-on-surface);
    position: absolute;
    left:-10px;
    top:7px;
}
.contents .card .steplist.step03 ul li b {
    font-size: 14px;
    display: inline;
    font-weight: 500;
}

.thinQ-youtube .video {
    position:relative; 
    padding-bottom:56.25%; 
    padding-top:30px; 
    height:0; 
    overflow:hidden;
}

.thinQ-youtube .video iframe {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
}

/* /// 이벤트 상품안내 /// */
.productList > li {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px 0 14px;
    align-items: center;
    border-bottom: 0.5px solid var(--sys-color-outline);
}
.productList > li:first-child {
    padding-top: 0;
}

.productList > li:last-child {
    border-bottom: 0;
    padding-bottom: 5px;
}

.productList > li div p {
    font-size: 20px;
    font-weight: 500;
    color:var(--sys-color-ess-main);
    margin-bottom: 5px;
}

.productList > li div p img {
    width: 32px;
    margin-left:10px
}
.productList > li div span {
    display: block;
    letter-spacing: -0.1px;
}

.productList > li div span b {
    display: block;
    font-weight: 500;
}

.productList > li div:last-child {
    text-align: center;
    font-weight: 500;
    color: var(--sys-color-ess-main);
    padding-left: 20px;
}
.productList > li div .productImg {
    width: 65px;
    display: block
}

.productList > li.detailinfo {
    display: block;
    width: 100%;
    padding: 12px 0 0 10px;
    letter-spacing: -0.28px;
    font-size: 14px;
    color: var(--sys-color-on-surface);
    position:relative
}

.productList > li.detailinfo::before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--sys-on-surface);
    position: absolute;
    left: 0;
    top: 21px;
}

/* /// 자주 묻는 질문 /// */
.qnaList {
    margin:50px auto;
}

.qnaList h2 {
    color: var(--sys-on-surface);
    border:1px solid var(--sys-on-surface);
    background-color: var(--sys-color-surface);
}

.qnaList dl {
    background-color: var(--sys-color-surface);
    border-radius: 10px;
    margin-top:12px;
    text-align: left;
    padding-bottom: 2px;
}

.qnaList dl:first-child {
    margin-top: 0;
}

.qnaList dl dt,
.qnaList dl dd {
    position: relative;
}
.qnaList dl dt {
    padding: 12px 48px 10px 45px;
}
.qnaList dl dt::before {
    content: "Q.";
    display: block;
    position: absolute;
    left:20px;
    top: 12px;
    font-weight: bold;
}
.qnaList dl dt::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/ic_chevron_up.svg) center center no-repeat;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
    rotate: -180deg;
    transition-duration: 0.2s;
}

.qnaList dl dt.active::after {
    rotate: 0deg;
}

.qnaList dl dd {
    padding: 10px 20px 10px 45px;
}

.qnaList dl dd::before {
    content: "A.";
    display: block;
    position: absolute;
    left:20px;
    top: 10px;
    font-weight: bold;
}

.qnaList dl dd::after {
    content: "";
    display: block;
    width: calc(100% - 40px);
    height: .5px;
    background-color: var(--sys-color-outline);
    position: absolute;
    top: 0;
    left: 20px;
}

.btnPrecaution {
    color: var(--ref-button-ess-btn);
    font-size: 18px;
    margin:0 auto;
    text-align: center;
}
.btnPrecaution object {
    position: relative;
    top: 5px;
}

.btnPrivacy {
    display: inline-block;
    border-radius: 50px;
    padding: 7px 16px;
    background: var(--sys-color-surface);
    color: var(--sys-color-main-variant3);
    font-size: 13px;
    margin-bottom:20px;
}

.btnAgree {
    display: block;
    padding: 16px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: var(--sys-color-background-variant);
    z-index: 99999;
}
.arrowImg {
    fill: var(--sys-color-ess-main);
}

.btnAgree button {
    color: #ffffff;
    background-color: var(--sys-color-ess-main);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 11px 12px 12px;
    font-size: 17px;
    word-break: normal;
}



/* /// 수상자 발표 /// */
.wrap.outcomeWrap {
    padding-bottom: 70px;
}
.outcomeWrap .redText {
    color: #C30037;
}
.outcomeWrap .greenText {
    color: #00866E;
}
.outcomeWrap h2 img {
    width: 217px;
    display: block;
    margin:0 auto
}

.outcomeWrap .mainVisual {
    padding: 28px 20px 20px;
}

.outcomeWrap .mainVisual p {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.72px;
    color: #606060;
    margin-bottom: 16px;
}

.outcomeWrap .mainVisual #fireworks_Motion {
    /* width: 34.62%; */
    width: 38%;
    max-width: 116px;
    position:absolute;
    top:4.8%;
    left:12%;
}

.outcomeWrap .outcomeList picture img   {
    width: 147px;
    display: block;
    margin: 0 auto 12px;
}

.outcomeWrap .outcomeList ul {
    text-align: center;
    position: relative;
}
.outcomeWrap .outcomeList ul li {
    margin-bottom: 10px;
}

.outcomeWrap .outcomeList ul li .greenText {
    padding-right: 30px;
    margin-right: 8px;
}
.outcomeWrap .outcomeList ul li:first-child {
    position: relative;
    left: 4px;
}
.outcomeWrap .outcomeList ul li:first-child .greenText{
    background:url(../images/outcome_list_icon1.png) center right no-repeat;
    background-size: 22px;
}
.outcomeWrap .outcomeList ul li:nth-child(2) .greenText{
    background:url(../images/outcome_list_icon2.png) center right no-repeat;
    background-size: 22px;
}
.outcomeWrap .outcomeList ul li:last-child .greenText{
    background:url(../images/outcome_list_icon3.png) center right no-repeat;
    background-size: 22px;
}

.outcomeWrap .contents{
    padding: 30px 20px 40px;
}

.outcomeWrap .productList > li {
    border-bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 20px 0;
}


.outcomeWrap .productList > li:last-child {
    padding-bottom: 0;
}

.outcomeWrap .productList > li div span b {
    display: inline-block;
}

.outcomeWrap .productList > li div:first-child {
    flex: calc(100% - 65px);
}

.outcomeWrap .productList > li div p img {
    margin-left: 0;
    margin-right: 5px;
}

.outcomeWrap .productList > li div:first-child p span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-left: 12px;
}

.outcomeWrap .productList > li div:first-child p span:before {
    content: '';
    width: 1px;
    height: 12px;
    background-color:var(--sys-color-ess-main);
    position: absolute;
    left: 6px;
    bottom: 4px;
}

.outcomeWrap .productList > li .listDetail {
    flex: 100%;
    margin-top: 12px;
    background: var(--sys-color-background-variant);
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 0;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 2%;
}

.outcomeWrap .productList > li .listDetail > li {
    text-align: center;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
    width: 32%;
}

/* /// 개인정보 처리방침 /// */
.privacy_wrap {
    font-size: 14px;
}
.privacy_wrap .btn_close {
    float:right;
    padding:12px;
    margin:4px 4px 4px 0;
}
.privacy_wrap h1 {
    clear: both;
    text-align: center;
    margin:12px 0;
    font-size: 20px;
}
.privacy_wrap h2 {
    font-size: 16px;
    margin-bottom: 11px;
}
.privacy_wrap section {
    padding: 0 20px;
}
.privacy_wrap p {
    margin-bottom: 12px;
}

.privacy_wrap ul li b {
    display:block;
    margin-bottom: 5px;
}

.privacy_wrap .table_area {
    margin-top: 12px;
    background: var(--sys-color-surface);
    padding: 0 20px;
    border-radius: 10px;
}

.privacy_wrap .table_area table {
    width: 100%;
    margin-bottom: 12px;
}

.privacy_wrap .table_area table thead tr th {
    text-align: center;
    height: 35px;
    font-size: 13px;
}

.privacy_wrap .table_area table tbody tr td {
    vertical-align: top;
    padding: 10px 0;
    border-top:1px solid var(--sys-color-outline);
    font-size: 13px;
}

.privacy_wrap .clause_text {
    color: var(--sys-color-on-surface-variant);
    margin-bottom: 12px;
}

.privacy_wrap .privacy_list {
    padding-left:20px;
    margin-bottom: 12px;
    color:var(--sys-color-on-surface-variant);
    position:Relative
}
.privacy_wrap ul li {
    margin-bottom: 12px;
}
.privacy_wrap .privacy_list li {
    position:relative;
    margin-bottom: 0;
}

.privacy_wrap .privacy_list li:before {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    background-color: var(--sys-color-on-surface-variant);
    border-radius: 100%;
    position:Absolute;
    left: -10px;
    top: 8px;
}

/* /// darkMode /// */
@media (prefers-color-scheme: dark) {
    :root {
        --sys-color-background-variant:#202020;
        --sys-color-surface:#2E3133;
        --sys-on-surface:#ffffff;
        --sys-color-on-surface-variant:#A1ACBF;
        --sys-color-ess-main:#02B3A9;
        --sys-color-outline:#606C80;
        --ref-button-ess-btn:#01A298;
        --ref-multi-color-teal-green-teal-green97:#00201d;
        --sys-color-main-variant3:#ffffff

    }
    .mainVisual:before {
        background: linear-gradient(136.21deg, #00504A 10.52%, #013733 55.41%);
        transform: rotate(-180deg);
        opacity: 1;
    }    
    .mainVisual .visual_info p {
        color: #ffffff;
    }
    .outcomeWrap .redText {
        color: #FFCA28;
    }
    .outcomeWrap .greenText {
        color: #B6EFE7;
    }
    .outcomeWrap .mainVisual p {
        color: #FFF;
    }
}

/* /// mediaQuery /// */
@media screen and (max-width: 430px){
    .mainVisual .visualImg #airMotion {
        max-width: 54%;
    }

    .outcomeWrap .productList > li .listDetail > li {
        font-size: 13px;
    }
}