/* Scroll Animation */
.scroll_motion {
    /*opacity: 0;*/
    transition: all 1s ease;
}

/* fadeup */
.sm_fadeup {
    transform: translate(0, 100px);
}

/* fadeIn */
.sm_fadeIn {
    opacity: 0;
}

.scroll_motion.show {
    opacity: 1;
    transform: none;
}